# prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on
RewriteRule ^backend(/.+)?$ backend/$1 [L,PT]
RewriteRule ^(.+)?$ frontend/$1
